/*!* تخصيصات إضافية للغة العربية *!*/
/*body {*/
/*    font-family: 'Segoe UI', 'Tahoma', 'Arial', sans-serif;*/
/*    text-align: right;*/
/*}*/

body {
    font-family: 'Cairo', 'Segoe UI', 'Tahoma', 'Arial', sans-serif;
    direction: rtl;
    text-align: right;
}

.dropdown-menu {
    text-align: right;
}

.me-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
}

.ms-auto {
    margin-left: 0 !important;
    margin-right: auto !important;
}

.me-2 {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
}

.ms-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
}