{% load i18n %}{% autoescape off %}
{% blocktrans %}لقد تلقيت هذا البريد الإلكتروني لأنك طلبت إعادة تعيين كلمة المرور لحسابك في نظام الابتعاث الإلكتروني بجامعة البترا.{% endblocktrans %}

{% trans "يرجى الانتقال إلى الصفحة التالية وإنشاء كلمة مرور جديدة:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "اسم المستخدم الخاص بك، في حالة نسيانه:" %} {{ user.get_username }}

{% trans "شكراً لاستخدامك نظامنا!" %}

{% blocktrans %}فريق نظام الابتعاث الإلكتروني - جامعة البترا{% endblocktrans %}

{% endautoescape %}